<main>
    <div class="d-flex align-items" >
      <div class="col-md-3">
        <h1 class="page-title" style="color: #6A95A8">Cards</h1>
        <p class="page-description">
          Cardvisit app Cards
        </p>
      </div>
      <div class="col-md-6">
      <app-card-search></app-card-search>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-2">
      <button mat-flat-button class="align-items" style="min-height: 56px ;margin-left: 10px ; background: #6A95A8; color: #ffffff " (click)="openAddCardModal()">Add Card</button>
    </div>
    </div>
  <hr>
  <div class="cards">
    <div class="row">
      <div class="col-12" *ngIf="!cardService.cards">
        <span> Loading...</span>
      </div>
      <div class="col-12" *ngIf="cardService.cards?.length === 0">
        <span> There is no card, You can add a new card by <a class="text-primary" (click)="openAddCardModal()">
          clicking here
        </a></span>
      </div>
      <div class="col-12 col-md-4" *ngFor="let card of cardService.filteredCards">
        <app-card-item [card]="card"></app-card-item>
      </div>
    </div>
  </div>
</main>
