<header class="">
  <mat-toolbar style="background: #6A95A8" >
    <span style="color: #ffffff">Cardvisit</span>
    <span class="example-spacer"></span>
    <ul class="header-menu" >
      <li><a routerLink="/cards" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true }">Cards</a></li>
      <li ><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true }">Main Page</a></li>
      <li><a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true }">About</a></li>
    </ul>
  </mat-toolbar>
</header>
