<main>
  <h1 class="page-title" style="color: #6A95A8">Main Page</h1>
  <p class="page-description">
    Cardvisit app Main Page
  </p>

  <div class="card">
    <div class="image"> 
      <img src="https://media.discordapp.net/attachments/988883199209926710/1150188594162585700/PAHC825.JPG?ex=652b0f1a&is=65189a1a&hm=048d4bacfde679fb395d6370a791ffd782e022fc1f4bc7de9aac176da6920cba&=" alt="">
    </div>
    <div class="card-info">
      <span>Ismet Ayşe Kaya</span>
      <p>Frontend Developer</p>
      <ul>
        <li>Email:<a href="mailto:i.ayse-kaya@hotmail.com">i.ayse-kaya@hotmail.com</a></li>
        <li>
          Gmail: <a href="mailto:iaysekaya99@gmail.com">iaysekaya99@gmail.com</a></li>
        <li>
          Github : <a href="https://github.com/IAyseKaya">IAyseKaya</a>
        </li>
      </ul>
    </div>
    <a href="https://www.linkedin.com/in/iaysekaya/" class="button">Contact</a>
  </div>

</main>
