<div class="cards">
  <div class="row">
    <div class="col-12 col-md-4">
      <mat-card class="card-item">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title *ngIf="card.name; else noName">{{card.name}}</mat-card-title>
          <ng-template #noName>
            <span>
              Name undefined.
            </span>
          </ng-template>
          <mat-card-subtitle>{{card.title}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" >Phone Number: {{card.phone}}</li>
            <li class="list-group-item" *ngIf="card.email; else noEmail">{{card.email}}</li>
            <ng-template #noEmail>
              <small class="list-group-item">
                E mail undefined.
              </small>
            </ng-template>
            <li class="list-group-item"*ngIf="card.address; else noAddress ">{{card.address}}</li>
            <ng-template #noAddress>
              <small class="list-group-item">
                Address undefined.
              </small>
            </ng-template>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
